
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-bg: #FFF7F0;
  --color-primary: #FFB085;
  --color-accent: #FF8C7A;
  --color-font: #3B3B3B;

  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background-color: var(--color-bg);
  color: var(--color-font);
}

